<footer class="footer">
  <div class="container container--fluid">
    <div class="footer__upper">
      <h2 class="h2 italic footer-logo">{{ site.title }}</h2>
      <nav class="footer-nav">
        <ul>
          {% for item in site.menus.footer %}
            <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="footer__copyright">
      <p>&copy;{{ 'now' | date: "%Y" }} {{ site.title }} - All Rights Reserved<br></p>
    </div>
  </div>
</footer>
