.btn,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 1rem 2rem 0;
  padding: 0.2em 3.2em;
  height: 4.8rem;
  color: $body-text-color;
  border-radius: 2.4rem;
  background-color: $brand-blush;
  border: 1px solid $brand-blush;
  font-family: $font-family-sans;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  box-shadow: 0px .8rem 2.4rem rgba(0, 0, 0, 0.15);
  transition: background-color .2s ease-in, color .2s ease-in, transform .2s ease-in, border .2s ease-in;

  &:hover {
    background-color: lighten($link-color, 10%);
    border: 1px solid lighten($link-color, 10%);
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: lighten($link-color, 10%);
    border: 1px solid lighten($link-color, 10%);
    color: #fff;
    transform: translateY(-0.6rem);
  }

  &:active {
    color: #fff;
    transform: translateY(-0.4rem);
    background-color: lighten($link-color, 5%);
    border: 1px solid lighten($link-color, 10%);
  }
}

.btn--transparent,
button.btn--transparent,
input[type=button].btn--transparent,
input[type=submit].btn--transparent,
input[type=reset].btn--transparent {
  background: transparent;
  border-color: transparent;

  &:hover {
    background-color: $brand-blush;
    border: 1px solid $brand-blush;
    color: $body-text-color;
  }

  &:hover,
  &:focus {
    background-color: $brand-blush;
    border: 1px solid $brand-blush;
    color: $body-text-color;
    transform: translateY(-0.6rem);
  }

  &:active {
    color: $body-text-color;
    transform: translateY(-0.4rem);
    background-color: $brand-blush;
    border: 1px solid $brand-blush;
  }
}
