html,
body {
  background: $brand-tan;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 48em;

  &--wide {
    max-width: 72.5em;
  }

  &--slim {
    max-width: 37.5em;
  }

  &--fluid {
    max-width: 90%;
  }
}
