table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
  background-color: transparent;
}

table caption {
  padding: .8rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-family: $font-family-sans;
}

table thead {
  display: table-header-group;
  vertical-align: middle;
  border: 0;
}

table th {
  border: 1px solid $brand-gray;
  padding: .8rem;
  text-align: left;
}

table td {
  border: 1px solid $brand-gray;
  padding: .8rem;
}
