img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

figure {
  margin-bottom: 0;
  margin: 0;
}

figure img {
  margin-bottom: 0;
}

figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 1.2rem;
}
