/* ----------------------------------------------------------------
Variables
-----------------------------------------------------------------*/

$font-family-serif: 'PT Serif', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-family-sans: 'Muli', "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
$font-family-mono: 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;

/* ----------------------------------------------------------------
Text Colors
-----------------------------------------------------------------*/
$body-text-color: #29221a;
$link-color: #444c63;

/* ----------------------------------------------------------------
Brand Colors
-----------------------------------------------------------------*/
$brand-gray: #959289;
$brand-tan: #f0ede6;
$brand-tan-dark: #d6ceb9;
$brand-green: #455c48;
$brand-navy: #444c63;
$brand-baby-blue: #a2acc7;
$brand-blush: #d9ae9b;
$brand-black: #29221a
